body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:718px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:564px;
}
#u0 {
  position:absolute;
  left:-6px;
  top:1172px;
  width:315px;
  height:564px;
}
#u1 {
  position:absolute;
  left:2px;
  top:274px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:542px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:542px;
}
#u3 {
  position:absolute;
  left:2px;
  top:263px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:35px;
}
#u4 {
  position:absolute;
  left:0px;
  top:298px;
  width:309px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6 {
  position:absolute;
  left:400px;
  top:200px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:93px;
}
#u8 {
  position:absolute;
  left:430px;
  top:200px;
  width:283px;
  height:93px;
  line-height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:309px;
  top:316px;
  width:0px;
  height:0px;
}
#u10_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u10_seg1 {
  position:absolute;
  left:7px;
  top:-110px;
  width:8px;
  height:114px;
}
#u10_seg2 {
  position:absolute;
  left:7px;
  top:-110px;
  width:84px;
  height:8px;
}
#u10_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10_seg4 {
  position:absolute;
  left:77px;
  top:-116px;
  width:21px;
  height:20px;
}
#u11 {
  position:absolute;
  left:-39px;
  top:-96px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:36px;
}
#u12 {
  position:absolute;
  left:0px;
  top:206px;
  width:303px;
  height:36px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14 {
  position:absolute;
  left:400px;
  top:14px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:149px;
}
#u16 {
  position:absolute;
  left:430px;
  top:14px;
  width:283px;
  height:149px;
  line-height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:303px;
  top:224px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u18_seg1 {
  position:absolute;
  left:6px;
  top:-204px;
  width:8px;
  height:208px;
}
#u18_seg2 {
  position:absolute;
  left:6px;
  top:-204px;
  width:91px;
  height:8px;
}
#u18_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u18_seg4 {
  position:absolute;
  left:83px;
  top:-210px;
  width:21px;
  height:20px;
}
#u19 {
  position:absolute;
  left:-40px;
  top:-146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:553px;
}
#u20 {
  position:absolute;
  left:0px;
  top:585px;
  width:309px;
  height:553px;
}
#u21 {
  position:absolute;
  left:2px;
  top:268px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:35px;
}
#u22 {
  position:absolute;
  left:10px;
  top:1547px;
  width:293px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24 {
  position:absolute;
  left:400px;
  top:617px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:93px;
}
#u26 {
  position:absolute;
  left:430px;
  top:617px;
  width:283px;
  height:93px;
  line-height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:308px;
  top:603px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u28_seg1 {
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:32px;
}
#u28_seg2 {
  position:absolute;
  left:30px;
  top:20px;
  width:62px;
  height:8px;
}
#u28_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u28_seg4 {
  position:absolute;
  left:78px;
  top:14px;
  width:21px;
  height:20px;
}
#u29 {
  position:absolute;
  left:-16px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u30 {
  position:absolute;
  left:266px;
  top:597px;
  width:42px;
  height:12px;
  font-size:18px;
  color:#666666;
}
#u31 {
  position:absolute;
  left:0px;
  top:-5px;
  width:42px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:400px;
  top:1204px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:83px;
}
#u34 {
  position:absolute;
  left:430px;
  top:1204px;
  width:283px;
  height:83px;
  line-height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:308px;
  top:1190px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u36_seg1 {
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:32px;
}
#u36_seg2 {
  position:absolute;
  left:30px;
  top:20px;
  width:62px;
  height:8px;
}
#u36_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36_seg4 {
  position:absolute;
  left:78px;
  top:14px;
  width:21px;
  height:20px;
}
#u37 {
  position:absolute;
  left:-16px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u38 {
  position:absolute;
  left:266px;
  top:1184px;
  width:42px;
  height:12px;
  font-size:18px;
  color:#666666;
}
#u39 {
  position:absolute;
  left:0px;
  top:-5px;
  width:42px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:390px;
}
#u40 {
  position:absolute;
  left:441px;
  top:1297px;
  width:220px;
  height:390px;
}
#u41 {
  position:absolute;
  left:2px;
  top:187px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:353px;
}
#u42 {
  position:absolute;
  left:430px;
  top:687px;
  width:199px;
  height:353px;
}
#u43 {
  position:absolute;
  left:2px;
  top:168px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:400px;
  top:1734px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:83px;
}
#u46 {
  position:absolute;
  left:430px;
  top:1734px;
  width:283px;
  height:83px;
  line-height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:303px;
  top:1565px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u48_seg1 {
  position:absolute;
  left:35px;
  top:-4px;
  width:8px;
  height:187px;
}
#u48_seg2 {
  position:absolute;
  left:35px;
  top:175px;
  width:62px;
  height:8px;
}
#u48_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u48_seg4 {
  position:absolute;
  left:83px;
  top:169px;
  width:21px;
  height:20px;
}
#u49 {
  position:absolute;
  left:-11px;
  top:91px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:400px;
  top:1057px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:101px;
}
#u52 {
  position:absolute;
  left:430px;
  top:1057px;
  width:290px;
  height:101px;
  line-height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:160px;
  top:695px;
  width:0px;
  height:0px;
}
#u54_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:186px;
  height:8px;
}
#u54_seg1 {
  position:absolute;
  left:178px;
  top:-4px;
  width:8px;
  height:380px;
}
#u54_seg2 {
  position:absolute;
  left:178px;
  top:368px;
  width:62px;
  height:8px;
}
#u54_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u54_seg4 {
  position:absolute;
  left:226px;
  top:362px;
  width:21px;
  height:20px;
}
#u55 {
  position:absolute;
  left:132px;
  top:116px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u56 {
  position:absolute;
  left:92px;
  top:592px;
  width:128px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:50px;
}
#u58 {
  position:absolute;
  left:33px;
  top:759px;
  width:245px;
  height:50px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:156px;
  top:614px;
  width:0px;
  height:0px;
}
#u60_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:149px;
}
#u60_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u60_seg2 {
  position:absolute;
  left:-10px;
  top:132px;
  width:20px;
  height:20px;
}
#u61 {
  position:absolute;
  left:-50px;
  top:64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:537px;
}
#u62 {
  position:absolute;
  left:0px;
  top:1791px;
  width:303px;
  height:537px;
}
#u63 {
  position:absolute;
  left:2px;
  top:260px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u64 {
  position:absolute;
  left:267px;
  top:1804px;
  width:42px;
  height:12px;
  font-size:18px;
  color:#666666;
}
#u65 {
  position:absolute;
  left:0px;
  top:-5px;
  width:42px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:83px;
}
#u66 {
  position:absolute;
  left:441px;
  top:1839px;
  width:283px;
  height:83px;
  line-height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:390px;
}
#u68 {
  position:absolute;
  left:456px;
  top:1909px;
  width:220px;
  height:390px;
}
#u69 {
  position:absolute;
  left:2px;
  top:187px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u70 {
  position:absolute;
  left:400px;
  top:1839px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:309px;
  top:1810px;
  width:0px;
  height:0px;
}
#u72_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u72_seg1 {
  position:absolute;
  left:29px;
  top:-4px;
  width:8px;
  height:47px;
}
#u72_seg2 {
  position:absolute;
  left:29px;
  top:35px;
  width:62px;
  height:8px;
}
#u72_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u72_seg4 {
  position:absolute;
  left:77px;
  top:29px;
  width:21px;
  height:20px;
}
#u73 {
  position:absolute;
  left:-17px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
